<a href="https://colab.research.google.com/github/mchangol/MachineLearning_KNN/blob/master/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn import datasets

In [0]:
import numpy as np
import pandas as pd

In [0]:
iris = datasets.load_iris()

In [4]:
data1 = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])
data1["sepal length (cm)"][0]

5.1

In [5]:
data1.tail()

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
145                6.7               3.0  ...               2.3     2.0
146                6.3               2.5  ...               1.9     2.0
147                6.5               3.0  ...               2.0     2.0
148                6.2               3.4  ...               2.3     2.0
149                5.9               3.0  ...               1.8     2.0

[5 rows x 5 columns]

In [6]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [0]:
X_s = np.array([])
xmax = data1.max(axis = 0)
xmin = data1.min(axis = 0)
col_len = len(data1.columns)-1
row_len = len(data1[data1.columns[0]])
for i in range(col_len):
  x_min = xmin[i]
  x_max = xmax[i]
  for j in range(0, row_len):
    X_s = np.append(X_s,(data1[data1.columns[i]][j] - x_min)/(x_max - x_min))

In [8]:
type(X_s)

numpy.ndarray

In [9]:
scall = np.array_split(X_s, 4)
scall[0]
len(scall[0])

150

In [10]:
normilized_data = pd.DataFrame(scall).T
normilized_data = normilized_data.rename(columns = {0:"sepal length (cm)", 1:"sepal width (cm)", 2:"petal length (cm)",3:"petal width (cm)" })
normilized_data['target'] = data1.target
normilized_data

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0             0.222222          0.625000  ...          0.041667     0.0
1             0.166667          0.416667  ...          0.041667     0.0
2             0.111111          0.500000  ...          0.041667     0.0
3             0.083333          0.458333  ...          0.041667     0.0
4             0.194444          0.666667  ...          0.041667     0.0
..                 ...               ...  ...               ...     ...
145           0.666667          0.416667  ...          0.916667     2.0
146           0.555556          0.208333  ...          0.750000     2.0
147           0.611111          0.416667  ...          0.791667     2.0
148           0.527778          0.583333  ...          0.916667     2.0
149           0.444444          0.416667  ...          0.708333     2.0

[150 rows x 5 columns]

In [11]:
normilized_data.loc[148]

sepal length (cm)    0.527778
sepal width (cm)     0.583333
petal length (cm)    0.745763
petal width (cm)     0.916667
target               2.000000
Name: 148, dtype: float64