<a href="https://colab.research.google.com/github/mchangol/MachineLearning_KNN/blob/master/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn import datasets

In [0]:
import numpy as np
import pandas as pd

In [0]:
iris = datasets.load_iris()

In [0]:
data1 = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

In [0]:
target_data = data1["target"]

## MIN-MAX Scalling

In [0]:
X_s = np.array([])
xmax = data1.max(axis = 0)
xmin = data1.min(axis = 0)
col_len = len(data1.columns)-1
row_len = len(data1[data1.columns[0]])
for i in range(col_len):
  x_min = xmin[i]
  x_max = xmax[i]
  for j in range(0, row_len):
    X_s = np.append(X_s,(data1[data1.columns[i]][j] - x_min)/(x_max - x_min))

In [0]:
scall = np.array_split(X_s, 4)

In [8]:
normilized_data = pd.DataFrame(scall).T
normilized_data = normilized_data.rename(columns = {0:"sepal length (cm)", 1:"sepal width (cm)", 2:"petal length (cm)",3:"petal width (cm)" })
normilized_data['target'] = data1.target
normilized_data

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0             0.222222          0.625000  ...          0.041667     0.0
1             0.166667          0.416667  ...          0.041667     0.0
2             0.111111          0.500000  ...          0.041667     0.0
3             0.083333          0.458333  ...          0.041667     0.0
4             0.194444          0.666667  ...          0.041667     0.0
..                 ...               ...  ...               ...     ...
145           0.666667          0.416667  ...          0.916667     2.0
146           0.555556          0.208333  ...          0.750000     2.0
147           0.611111          0.416667  ...          0.791667     2.0
148           0.527778          0.583333  ...          0.916667     2.0
149           0.444444          0.416667  ...          0.708333     2.0

[150 rows x 5 columns]


### Split Data

### YOU CAN CHANGE THE RANDOMNESS OF SPLIITING THE DATA BY CHANGING "random_state"

In [0]:
from sklearn.model_selection import train_test_split
_train,_test = train_test_split(normilized_data, test_size=0.3 , random_state = 20) # 70% training and 30% test

In [10]:
#here is the code to test the rank 
print(len(_train))
print(_train.head())

105
     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
2             0.111111          0.500000  ...          0.041667     0.0
5             0.305556          0.791667  ...          0.125000     0.0
49            0.194444          0.541667  ...          0.041667     0.0
113           0.388889          0.208333  ...          0.791667     2.0
44            0.222222          0.750000  ...          0.125000     0.0

[5 rows x 5 columns]

In [11]:
print(len(_test))
print(_test.head())

45
     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
47            0.083333          0.500000  ...          0.041667     0.0
73            0.500000          0.333333  ...          0.458333     1.0
74            0.583333          0.375000  ...          0.500000     1.0
129           0.805556          0.416667  ...          0.625000     2.0
67            0.416667          0.291667  ...          0.375000     1.0

[5 rows x 5 columns]

###  Distance Function

In [0]:
distance = np.array([])
dist = 0
test_len = len(_test)
train_len = len(_train)
for i in range(test_len):
  for k in range(train_len):
    #dis = _test.iloc[i][j]
    for j in range(4):
      dist += pow((_test.iloc[i][j] - _train.iloc[k][j]),2)
    #print(np.sqrt(dist))
    distance = np.append(distance,np.sqrt(dist))
    dist = 0

In [0]:
test_row_dist = np.array_split(distance, 45)

In [0]:
total_dist = pd.DataFrame(test_row_dist)

## Search k Nearest Distances

In [15]:
# Function to print k smallest distances    
def k_smallest_distances(arr, arr_size, k): 
  
    # There should be atleast k distances 
    if (arr_size < k): 
      print(" Invalid Input ")
      return

    if (k == 3):
      third = first = second = 10000

      for i in range(arr_size): 
        # If first distance is greater than current element 
        if (first > arr[i]): 
            third = second 
            second = first 
            first = arr[i] 

        # If arr[i] is in between first and second then update second  
        elif (second > arr[i]): 
            third = second 
            second = arr[i] 
        elif (third > arr[i]): 
            third = arr[i] 
      
    #print("K = 3, The three smallest distances are: ", first, second, third) 
      return arr.index(first), arr.index(second), arr.index(third) 
    elif(k == 5):

      fifth = forth = third = first = second = 10000

      for i in range(arr_size): 
        # If first distance is greater than current element 
        if (first > arr[i]): 
            fifth = forth
            forth = third
            third = second 
            second = first 
            first = arr[i] 

        # If arr[i] is in between first and second then update second  
        elif (second > arr[i]):
            fifth = forth
            forth = third 
            third = second 
            second = arr[i] 
        elif (third > arr[i]): 
            fifth = forth
            forth = third
            third = arr[i] 
        elif (forth > arr[i]): 
            fifth = forth
            forth = arr[i]
        elif (fifth > arr[i]): 
            fifth = arr[i]
         
      
    #print("K = 3, The three smallest distances are: ", first, second, third) 
      return arr.index(first), arr.index(second), arr.index(third), arr.index(forth),arr.index(fifth)
      

  
# Driver program to test above function  
arr = [12, 13, 1, 10, 34, 2] 
n = len(arr) 
k = 5
k_smallest_distances(arr, n, k) 
  
print((k_smallest_distances(arr, n, k)))

(2, 5, 3, 0, 1)

## Find all distances

 ## you can choose k = 3

In [16]:
d = np.array([])
for i in range(len(test_row_dist)):
   arr = list(test_row_dist[i])
   n = len(arr)
   k = 3
   k_smallest_distances(arr, n, k)
   for i in range(k):
     d = np.append(d,k_smallest_distances(arr, n, k)[i] )

print(d)

[  0.  66.  78.  63.  15.  28.  15. 101.  99.  67.  82.  51.  41.  16.
  71.  27.  17.  70.  75.  73.  72.  29.   4.  76.  80.  39.  38.  24.
  33.  89.  85.  42.  46.  19. 101.  18.  22.  23.  86.   2.  24.   0.
  13.  47.  92.  94.  98.  82.  25.  45.  56. 101.  19.  15.  37.   5.
   3.  59.  34.  14.  51.  18. 101.  35.  57.  52.  54.  80.  39.  47.
  32.   7.  86.  22.  23.  14.  17.  71.  59.  14.  71.  33.  24.  89.
   5.  39.  46.  19.  86.  63.  20. 104.  10.  20. 104.  10.  47.  76.
  13.  29.  30.  48.  61.  92.  91.  69.  26.  27.  52.  87.  28.  89.
  65.  33.  18. 101.  28.  82.  40.  94.  20. 104.  55.  86.  63.  38.
  48.  97.  92. 101.  18.  51.  18.  52.  28.]

## or you can choose  k = 5. you only neeed to comment k = 3 and uncomment k = 5

In [17]:
'''d = np.array([])
for i in range(len(test_row_dist)):
   arr = list(test_row_dist[i])
   n = len(arr)
   k = 5
   k_smallest_distances(arr, n, k)
   for i in range(k):
     d = np.append(d,k_smallest_distances(arr, n, k)[i] )

print(d)
'''

'd = np.array([])\nfor i in range(len(test_row_dist)):\n   arr = list(test_row_dist[i])\n   n = len(arr)\n   k = 5\n   k_smallest_distances(arr, n, k)\n   for i in range(k):\n     d = np.append(d,k_smallest_distances(arr, n, k)[i] )\n\nprint(d)\n'

In [18]:
print(len(d))
k_d = np.array_split(d, len(test_row_dist))
t_k = pd.DataFrame(k_d).T

135

## Rank k smallest diatance and compared predicted values with ground true values

In [19]:
repeted_num_train = np.array([])

for col in range(45):
  for row in range(k):
    a = t_k[col][row]
    c = a.astype(int)
    repeted_num_train = np.append(repeted_num_train, _train.iloc[c][4])

k_num = np.array_split(repeted_num_train, len(test_row_dist))

count = 0
num_k = pd.DataFrame(k_num).T

for i in range(45):
  print(num_k[i].mode()[0])
  a = num_k[i].mode()[0]
  if(a == _test.iloc[i][4]):
    print("Correct: Predicted is the same ground true")
    count += 1 
  else:
    print("Incorrect: Ground true differs from predicted ")
  
print("The acccuracy is: " , (count/45)*100 , "when k  = " , k)

0.0
Correct: Predicted is the same ground true
1.0
Correct: Predicted is the same ground true
1.0
Correct: Predicted is the same ground true
2.0
Correct: Predicted is the same ground true
1.0
Correct: Predicted is the same ground true
1.0
Correct: Predicted is the same ground true
2.0
Correct: Predicted is the same ground true
0.0
Correct: Predicted is the same ground true
2.0
Correct: Predicted is the same ground true
0.0
Correct: Predicted is the same ground true
2.0
Correct: Predicted is the same ground true
1.0
Correct: Predicted is the same ground true
1.0
Incorrect: Ground true differs from predicted
0.0
Correct: Predicted is the same ground true
0.0
Correct: Predicted is the same ground true
2.0
Correct: Predicted is the same ground true
0.0
Correct: Predicted is the same ground true
1.0
Correct: Predicted is the same ground true
2.0
Correct: Predicted is the same ground true
1.0
Correct: Predicted is the same ground true
1.0
Correct: Predicted is the same ground true
2.0
Correct: Predicted is the same ground true
2.0
Correct: Predicted is the same ground true
0.0
Correct: Predicted is the same ground true
1.0
Correct: Predicted is the same ground true
1.0
Correct: Predicted is the same ground true
1.0
Correct: Predicted is the same ground true
0.0
Correct: Predicted is the same ground true
2.0
Correct: Predicted is the same ground true
1.0
Incorrect: Ground true differs from predicted
1.0
Correct: Predicted is the same ground true
1.0
Correct: Predicted is the same ground true
0.0
Correct: Predicted is the same ground true
0.0
Correct: Predicted is the same ground true
0.0
Correct: Predicted is the same ground true
1.0
Incorrect: Ground true differs from predicted
1.0
Correct: Predicted is the same ground true
0.0
Correct: Predicted is the same ground true
1.0
Correct: Predicted is the same ground true
2.0
Correct: Predicted is the same ground true
1.0
Correct: Predicted is the same ground true
1.0
Incorrect: Ground true differs from predicted
0.0
Correct: Predicted is the same ground true
1.0
Correct: Predicted is the same ground true
1.0
Correct: Predicted is the same ground true
The acccuracy is:  91.11111111111111 when k  =  3