<a href="https://colab.research.google.com/github/mchangol/MachineLearning_KNN/blob/master/KNN1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn import datasets

In [0]:
import numpy as np
import pandas as pd

In [0]:
iris = datasets.load_iris()

In [4]:
data1 = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])
data1["sepal length (cm)"][0]

5.1

In [5]:
target_data = data1["target"]
target_data

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    2.0
Name: target, Length: 150, dtype: float64

In [6]:
data1.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2     0.0
1                4.9               3.0  ...               0.2     0.0
2                4.7               3.2  ...               0.2     0.0
3                4.6               3.1  ...               0.2     0.0
4                5.0               3.6  ...               0.2     0.0

[5 rows x 5 columns]

In [7]:
data1["target"]

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    2.0
Name: target, Length: 150, dtype: float64

In [8]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [0]:
X_s = np.array([])
xmax = data1.max(axis = 0)
xmin = data1.min(axis = 0)
col_len = len(data1.columns)-1
row_len = len(data1[data1.columns[0]])
for i in range(col_len):
  x_min = xmin[i]
  x_max = xmax[i]
  for j in range(0, row_len):
    X_s = np.append(X_s,(data1[data1.columns[i]][j] - x_min)/(x_max - x_min))

In [10]:
type(X_s)

numpy.ndarray

In [0]:
scall = np.array_split(X_s, 4)
scall[0]
len(scall[0])

In [0]:
iris.data

In [56]:
normilized_data = pd.DataFrame(scall).T
normilized_data = normilized_data.rename(columns = {0:"sepal length (cm)", 1:"sepal width (cm)", 2:"petal length (cm)",3:"petal width (cm)" })
normilized_data['target'] = data1.target
normilized_data
normilized_data

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0             0.222222          0.625000  ...          0.041667     0.0
1             0.166667          0.416667  ...          0.041667     0.0
2             0.111111          0.500000  ...          0.041667     0.0
3             0.083333          0.458333  ...          0.041667     0.0
4             0.194444          0.666667  ...          0.041667     0.0
..                 ...               ...  ...               ...     ...
145           0.666667          0.416667  ...          0.916667     2.0
146           0.555556          0.208333  ...          0.750000     2.0
147           0.611111          0.416667  ...          0.791667     2.0
148           0.527778          0.583333  ...          0.916667     2.0
149           0.444444          0.416667  ...          0.708333     2.0

[150 rows x 5 columns]

In [14]:
target_data[148]

2.0

In [60]:
normilized_data["target"]

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    2.0
Name: target, Length: 150, dtype: float64

In [16]:
normilized_data.loc[148]

sepal length (cm)    0.527778
sepal width (cm)     0.583333
petal length (cm)    0.745763
petal width (cm)     0.916667
Name: 148, dtype: float64


### Split Data

In [0]:
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
#X1_train, X1_test, y1_train, y1_test = train_test_split(normilized_data, target_data, test_size=0.3, random_state = 50) # 70% training and 30% test
#X1_train, X1_test, y1_train, y1_test = train_test_split(normilized_data, iris.target, test_size=0.3) # 70% training and 30% test
_train,_test = train_test_split(normilized_data, test_size=0.3, random_state = 50) # 70% training and 30% test

In [106]:
_test["petal width (cm)"]
len(_test)

45

In [120]:
_train.loc[0][1]

0.6249999999999999

In [118]:
_train

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
17            0.222222          0.625000  ...          0.083333     0.0
42            0.027778          0.500000  ...          0.041667     0.0
18            0.388889          0.750000  ...          0.083333     0.0
146           0.555556          0.208333  ...          0.750000     2.0
114           0.416667          0.333333  ...          0.958333     2.0
..                 ...               ...  ...               ...     ...
70            0.444444          0.500000  ...          0.708333     1.0
132           0.583333          0.333333  ...          0.875000     2.0
33            0.333333          0.916667  ...          0.041667     0.0
109           0.805556          0.666667  ...          1.000000     2.0
139           0.722222          0.458333  ...          0.833333     2.0

[105 rows x 5 columns]

In [0]:
for i in _test[_test.columns[3]]:
  print(i)

###  write distance code

In [0]:
row_length_X_Train = len(_train)
for row in range (row_length_X_Train):
  for col in range(3):
    _test[_test.columns[col]]

In [0]:
_test[_test.columns[0]]

In [0]:
_test[_test.columns[0]]

In [52]:
print(len(X1_train))
print(len(X1_test))
print(len(y1_train))
print(len(y1_test))

105
45
105
45

In [53]:
X1_test

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
88            0.361111          0.416667           0.525424          0.500000
72            0.555556          0.208333           0.661017          0.583333
20            0.305556          0.583333           0.118644          0.041667
16            0.305556          0.791667           0.050847          0.125000
147           0.611111          0.416667           0.711864          0.791667
140           0.666667          0.458333           0.779661          0.958333
113           0.388889          0.208333           0.677966          0.791667
23            0.222222          0.541667           0.118644          0.166667
12            0.138889          0.416667           0.067797          0.000000
68            0.527778          0.083333           0.593220          0.583333
39            0.222222          0.583333           0.084746          0.041667
130           0.861111          0.333333           0.864407          0.750000
34            0.166667          0.458333           0.084746          0.041667
112           0.694444          0.416667           0.762712          0.833333
55            0.388889          0.333333           0.593220          0.500000
25            0.194444          0.416667           0.101695          0.041667
82            0.416667          0.291667           0.491525          0.458333
48            0.277778          0.708333           0.084746          0.041667
81            0.333333          0.166667           0.457627          0.375000
77            0.666667          0.416667           0.677966          0.666667
100           0.555556          0.541667           0.847458          1.000000
80            0.333333          0.166667           0.474576          0.416667
14            0.416667          0.833333           0.033898          0.041667
131           1.000000          0.750000           0.915254          0.791667
86            0.666667          0.458333           0.627119          0.583333
118           0.944444          0.250000           1.000000          0.916667
56            0.555556          0.541667           0.627119          0.625000
54            0.611111          0.333333           0.610169          0.583333
97            0.527778          0.375000           0.559322          0.500000
143           0.694444          0.500000           0.830508          0.916667
125           0.805556          0.500000           0.847458          0.708333
98            0.222222          0.208333           0.338983          0.416667
73            0.500000          0.333333           0.627119          0.458333
144           0.666667          0.541667           0.796610          1.000000
21            0.222222          0.708333           0.084746          0.125000
3             0.083333          0.458333           0.084746          0.041667
59            0.250000          0.291667           0.491525          0.541667
119           0.472222          0.083333           0.677966          0.583333
84            0.305556          0.416667           0.593220          0.583333
7             0.194444          0.583333           0.084746          0.041667
41            0.055556          0.125000           0.050847          0.083333
57            0.166667          0.166667           0.389831          0.375000
104           0.611111          0.416667           0.813559          0.875000
8             0.027778          0.375000           0.067797          0.041667
102           0.777778          0.416667           0.830508          0.833333

In [54]:
y1_train

17     0.0
42     0.0
18     0.0
146    2.0
114    2.0
      ...
70     1.0
132    2.0
33     0.0
109    2.0
139    2.0
Name: target, Length: 105, dtype: float64

In [33]:
X1_train["sepal length (cm)"][24]

0.13888888888888887

### KNN MODEL

In [24]:
X_train

NameError: ignored

In [25]:
for i in range (len(X_train)):
  for j in range(4):
    X_train[i][j] - y_train

NameError: ignored

In [26]:
from math import sqrt
 
# calculate the Euclidean distance between two vectors
def euclidean_distance(row1, row2):
	distance = 0.0
	for i in range(len(row1)-1):
		distance += (row1[i] - row2[i])**2
	return sqrt(distance)
 
# Test distance function
dataset = [[2.7810836,2.550537003,0],
	[1.465489372,2.362125076,0],
	[3.396561688,4.400293529,0],
	[1.38807019,1.850220317,0],
	[3.06407232,3.005305973,0],
	[7.627531214,2.759262235,1],
	[5.332441248,2.088626775,1],
	[6.922596716,1.77106367,1],
	[8.675418651,-0.242068655,1],
	[7.673756466,3.508563011,1]]
row0 = dataset[0]
for row in dataset:
	distance = euclidean_distance(row0, row)
	print(distance)

0.0
1.3290173915275787
1.9494646655653247
1.5591439385540549
0.5356280721938492
4.850940186986411
2.592833759950511
4.214227042632867
6.522409988228337
4.985585382449795

In [27]:
dataset[0]

[2.7810836, 2.550537003, 0]

In [45]:
import numpy as np
from sklearn.model_selection import train_test_split
X, y = np.arange(10).reshape((5, 2)), range(5)
X
list(y)

[0, 1, 2, 3, 4]

In [46]:
X, y = np.arange(10).reshape((5, 2)), range(5)
X
list(y)

[0, 1, 2, 3, 4]

In [47]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

X_train



y_train

X_test


y_test

[1, 4]

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
X_train

array([[4, 5],
       [0, 1],
       [6, 7]])

In [0]:
train_test_split(y, shuffle=False)
[[0, 1, 2], [3, 4]]